*.gem
*.rbc
.bundle
.config
*.lock
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
application_local.yml

# YARD artifacts
.yardoc
_yardoc
doc/

# Sloppy stuff
ant
orgs/*
